<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PaymentMapper">
    <resultMap id="BaseResultMap" type="com.bean.Payment">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="SERIAL" jdbcType="VARCHAR" property="serial"/>
    </resultMap>

    <insert id="insert" parameterType="com.bean.Payment">
        <!--<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER" statementType="STATEMENT">
            SELECT LAST_INSERT_ID()
        </selectKey>-->
        insert into payment(SERIAL)values(#{serial,jdbcType=VARCHAR})
    </insert>
    <!--实验证明此时nvl(PARENT_TYPE_ID,'') 哪怕替换了最后拿到的值还是null，oracle特有-->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT * from payment
    </select>
    <!--in超过1000，java端分段截取查询-->
    <select id="selectListByid" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT * from payment where id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id ,jdbcType=INTEGER}
        </foreach>
    </select>
    <!--in超过1000，sql特殊处理，多个or in 保证每段不超过 1000-->
    <select id="selectListAllByid" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT * from payment where
        (id in
        <foreach collection="list" open="(" close=")" separator="," item="id" index="index">
            <if test="(index % 999) == 998"> null ) OR id in(</if> #{id ,jdbcType=INTEGER}
        </foreach>)
    </select>

</mapper>
