<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TansactionTestMapper">
    <resultMap id="BaseResultMap" type="com.bean.TansactionTest">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <update id="update" parameterType="com.bean.TansactionTest">
        update tansaction_test set remark=#{remark,jdbcType=VARCHAR} where id=#{id,jdbcType=INTEGER}
    </update>

</mapper>
