<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.InvoiceStatisticsMapper">

    <select id="indistinctSelect" parameterType="com.model.StatisticsVo" resultType="java.lang.String">
        SELECT distinct CASE nvl(#{buyer,jdbcType=VARCHAR},'^') WHEN '^' THEN i.seller ELSE i.BUYER END FROM t_ai_ias_invoice i
        <where>
            <if test="seller != null and  seller!=''">AND i.seller Like '%'|| #{seller}||'%'</if>
            <if test="buyer != null and  buyer!=''">AND i.BUYER  Like '%'|| #{buyer}||'%'</if>
        </where>
    </select>

</mapper>
