<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.InvoiceStatisticsMapper">

    <!--<select id="indistinctSelect" parameterType="com.model.StatisticsVo" resultType="java.lang.String">
        SELECT i.BUYER FROM t_ai_ias_invoice i LEFT JOIN T_AI_IAS_REMARK r on i.REMARK_ID=r.REMARK_ID where r.CRT_USER='lmm' and r.TENANT_ID='lm' and i.BUYER like '%金鸿%'
    </select>-->

    <select id="indistinctSelect" parameterType="com.model.StatisticsVo" resultType="java.lang.String">
        SELECT distinct CASE WHEN if(isnull(#{buyer}),0,1)=1  THEN i.seller ELSE i.BUYER END FROM t_ai_ias_invoice i  where BUYER like '%致宇%'
    </select>

</mapper>
